# LOCAL ONLY (do not commit real secrets)
PORT=8080

# for local Google auth
GOOGLE_APPLICATION_CREDENTIALS=./keys/google_key.json

# only allow your frontend origin (Hostinger site)
ALLOWED_ORIGIN=https://palegreen-bison-314418.hostingersite.com