PORT=8080
NODE_ENV=development

# Google Cloud project
GOOGLE_CLOUD_PROJECT=your-project-id

# Path to credentials file
GOOGLE_APPLICATION_CREDENTIALS=./keys/google_key.json

# Allowed frontend origins
ALLOWED_ORIGIN=http://localhost:8080,http://127.0.0.1:8080,https://voicepunjabai.com,https://www.voicepunjabai.com

# App limits
DAILY_FREE_CHAR_LIMIT=1000
SESSION_SECRET=your-secret-key
GUEST_DAILY_LIMIT=300
FREE_USER_DAILY_LIMIT=2000